---
layout: null
---

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML Meta Tags -->
<title>rae.wtf > stuff by rae</title>
<meta name="description" content="Hi! My name's Rae. Welcome to my website!">
<link rel="icon" type="image/x-icon" href="https://rae.wtf/favicon.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://rae.wtf/">
<meta property="og:type" content="website">
<meta property="og:title" content="rae.wtf > stuff by rae">
<meta property="og:description" content="Hi! My name's Rae. Welcome to my website!">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="rae.wtf">
<meta property="twitter:url" content="https://rae.wtf/">
<meta name="twitter:title" content="rae.wtf > stuff by rae">
<meta name="twitter:description" content="Hi! My name's Rae. Welcome to my website!">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,600;0,800;1,600;1,800&family=Righteous&display=swap" rel="stylesheet">
<link href="./site.css" rel="stylesheet">

<style>
</style>

<style>
	:root {--accent-color: #54ffc2; --accent-color-transparent: #54ffc200; --color-on-accent: #24584c;}
</style>

<header>
	<div class="nav">
		<a href="." class="nav_item active">home</a>
		<a href="./games" class="nav_item">games</a>
		<a href="./art" class="nav_item">art</a>
		<a href="./commissions" class="nav_item">commissions</a>
		<a href="./trinkets" class="nav_item">trinkets</a>
		<a href="./blog" class="nav_item">blog</a>
	</div>
	<img class="logo" src="./logo.png" />
	<div class="info">
		<div class="up_box"></div>
		<div>
			<h2 class="breadcrumbs"><a href=".">home</a></h2>
			<h1 class="title">stuff by rae</h1>
		</div>
	</div>
</header>

<div class="content">
	<p class="topic_header">Featured</p>
	<div class="featured_box">
		<div class="box_content">
			<div style="display: flex; align-items: center; justify-content: space-between">
			<h1>Labsylle</h1>
			<h3>02.17.2026</h3>
			</div>
			<h2>A words-y 'spin' on a puzzle game</h2>
			<p><i>Labsylle</i>'s all about the "building blocks" of the English language. Swap around syllable blocks, two at a time, to assemble words. That's it! It'll keep you busy, too; with over 500 curated puzzles, and a whole dictionary of "Quik-Words" to experience in 60-second bursts.</p>
			<a href="https://play.date/games/labsylle">Buy it in Playdate Catalog</a>
			<a href="https://raewtf.itch.io/labsylle">Buy it on Itch.io</a>
		</div>
		<img class="box_image" src="./games/labsylle_preview.gif" />
	</div>
	<div class="side_by_side">
		<div class="side_1">
			<p class="topic_header">What's new?</p>
			<div style="width: 100%; display: flex; flex-direction: column;">
				<div class="whats_new">
					<h1>04.24.2026</h1>
					<p>The website has been redesigned from the ground up! Check out the sleek new design, as well as all-new dark mode functionality! So fresh, so clean...</p>
				</div>
				<div class="whats_new">
					<h1>03.14.2026</h1>
					<p>Extraordinarily happy to announce that <a href="https://play.date/games/rowbot-rally"><i>RowBot Rally</i></a> is the WINNER of the 2025 Playdate Community Awards for <i>Outstanding Visual Achievement (SDK)</i>, and <i>The CRANKY Award</i>. Thanks so much for playing!! (...and if you haven't tried it yet, now's the perfect opportunity!)</p>
				</div>
			</div>
		</div>
		<div class="side_2">
			<p class="topic_header">Coming up...</p>
			<div class="coming_up">
				<img src="./games/hexa_preview.gif" />
				<h1>HEXA coming to Steam 05.13.2026!</h1>
				<p>With leaderboards, achievements; all that good stuff. Plus, it's a really good puzzle game!</p>
				<a>Wishlist it</a>
			</div>
			<div class="coming_up">
				<img src="./games/pesto_preview.gif" />
				<h1>Project Pesto...what <i>is</i> it?</h1>
				<p>Well, that doesn't matter right now. Hang tight to your Playdate and get HYPED!</p>
			</div>
		</div>
	</div>
	<p class="topic_header">A bit about Rae</p>
	<div class="featured_box">
		<div class="box_content">
			<h1>Hello!</h1>
			<p>My name's Rae. I'm a real creative type who loves to make all kinds of stuff. Historically, drawing's kind of been my bag, but more recently I've been getting into game development, which has been extremely fun.<br>This website is my little corner of the internet, where I host all the projects I've made over my years with an internet presence. Feel free to take a look around! Observe some art with hand on chin like a fine museum patron, or find your next favorite video game for your quirky yellow handheld.</p>
		</div>
		<img class="pfp" src="./lost.png" />
	</div>
	<p class="topic_header">Latest from the Blog <a href="blog">More Blog Posts</a></p>
	<div class="grid">
		{% for post in site.posts limit:4 %}
			{% if post.visible == 1  %}
				<div class="coming_up">
					<h1>{{ post.title }}</h1>
					<h3>{{ post.date | date: '%m.%d.%Y '}}&nbsp;&nbsp;>&nbsp;&nbsp;{{ post.tag }}</h3>
					<p>{{ post.desc }}</p>
					<a href="{{ post.url }}">Read On</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<footer>
	<div class="footer_content">
		<p>2020&#8211;2026, made by rae</p>
		<div>
			<p>find me on-line:</p>
			<a href="https://bsky.app/profile/rae.wtf" class="social">bluesky</a>
			<a href="https://github.com/raewtf" class="social">github</a>
			<a href="https://raewtf.itch.io" class="social">itch.io</a>
		</div>
	</div>
	<div class="footer_content">
		<p>this site, and the stuff within, doesn't contain the contents of any generative algorithms.</p>
	</div>
	<div class="footer_content">
		<div>
			<p>support me:</p>
			<a href="./commissions" class="social">commissions</a>
			<a href="https://store.steampowered.com/dev/rae" class="social">steam</a>
		</div>
		<div>
			<p>everything:</p>
			<a href="./expert" class="social">expert mode</a>
		</div>
		<p>...have a nice day!</p>
	</div>
</footer>