---
layout: null
---

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML Meta Tags -->
<title>rae.wtf - stuff by rae</title>
<meta name="description" content="Howdy! My name's Rae. I'm a silly moth that likes to make a buncha cool stuff!">
<link rel="icon" type="image/x-icon" href="https://rae.wtf/favicon.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://rae.wtf/">
<meta property="og:type" content="website">
<meta property="og:title" content="rae.wtf - stuff by rae">
<meta property="og:description" content="Howdy! My name's Rae. I'm a silly moth that likes to make a buncha cool stuff!">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="rae.wtf">
<meta property="twitter:url" content="https://rae.wtf/">
<meta name="twitter:title" content="rae.wtf - stuff by rae">
<meta name="twitter:description" content="Howdy! My name's Rae. I'm a silly moth that likes to make a buncha cool stuff!">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,600;0,800;1,600;1,800&family=Righteous&display=swap" rel="stylesheet">
<link href="site.css" rel="stylesheet">

<body>
    <div class="header">
        <h1><a href="https://rae.wtf">rae.wtf</a></h1>
        <h2>stuff by rae</h2>
    </div>
    <div class="nav">
		<a href="art">Art</a>
        <a href="games">Games</a>
        <a href="trinkets">Trinkets</a>
        <a href="commissions">Commissions</a>
        <a href="blog">Blog</a>
    </div>
    <div class="main">
        <img src="pfp.jpg" />
        <h1>Howdy!</h1>
        <h2>Welcome to my website!</h2>
        <p>My name's Rae. I'm a silly moth that likes to make a buncha cool stuff! Luckily, other people seem to find it pretty cool as well. Anyway, welcome! Take a look around — there's plenty of rad stuff to find and play! Games, art, other miscellaneous things... who knows!</p>
    </div>
    <div class="sides">
        <div class="side_left">
            <h3>Featured Project</h3>
			<h1>Labsylle</h1>
			<h3>Coming Soon&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Playdate</h3>
			<img src="games/labsylle_preview.gif" />
			<p>Labsylle's a cool word puzzle game, all about the "building blocks" of the English language. Swap around syllable blocks, two at a time, to assemble words — that's it! It'll keep you busy, too; with over 450 curated word puzzles, 100 puzzles worth of bonus modes that put a 'spin' on the usual gameplay, and a whole dictionary of <i>Quik-Words</i> to experience in 60-second bursts.</p>
			<br>
			<a class="button" href="https://raewtf.itch.io/labsylle">Itch.io page</a>
			<hr>
            <h3>Newest Blog Post</h3>
            {% for post in site.posts limit:1 %}
                {% if post.visible == 1  %}
                    <a href="{{ post.url }}" class="post_container {{ post.tag | slugify }}">
                        <h1>{{ post.title }}</h1>
                        <h3>{{ post.date | date: '%m.%d.%Y' }}&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;{{ post.tag }}</h3>
                        <p>{{ post.desc }}</p>
                    </a>
                {% endif %}
            {% endfor %}
            <a href="blog" class="button">More blog posts</a>
        </div>
        <div class="side_right">
			<h3>Latest Happenings</h3>
			<p class="box">11.23.2025 — Hi! I'm working on a new word puzzle game called <i>Labsylle</i>! It should be out for Playdate soon™.</p>
			<p class="box">11.21.2025 — Commissions are closed for the time being! Back soon after I clear my plate, with some tweaks — thanks for your patience!</p>
			<p class="box">10.16.2025 — <a href="https://raewtf.itch.io/hexa"><i>HEXA</i></a> v2.2.0 is live — bug fixes, QoL bumps, and a full French localization! Thanks, <a href="https://voxy.space">Voxy</a>!!! Go check it out!</p>
			<br>
            <h3>You should check out</h3>
			<p class="box"><a href="https://raewtf.itch.io/hexa"><i>HEXA</i></a> - A really good, action-packed, hexagon-based puzzle game. Available on Playdate and for personal computers.</p>
        </div>
    </div>
    <div class="footer">
        <p>2020-2025, made by rae</p>
		<p>This site doesn't contain the<br>outputs of any generative<br>algorithms — my stuff's made by people,<br>for people. Like you! I hope.</p>
        <p>You can follow me on-line:<br><a href="https://bsky.app/profile/rae.wtf">Bluesky</a>,<br><a href="https://raewtf.itch.io">Itch.io</a>,<br>or <a href="https://github.com/raewtf">GitHub</a>.</p>
        <p>You can also support me:<br>perhaps by <a href="commissions">buying a commission</a>?<br>...or dropping me a tip on <a href="https://ko-fi.com/raewtf">Ko-Fi</a>!</p>
        <p>If you wanna see everything,<br>peep the <a href="expert">expert mode</a>,</p>
        <p>...and have a nice day!</p>
    </div>
</body>
</html>