---
layout: null
---

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML Meta Tags -->
<title>rae.wtf - stuff by rae</title>
<meta name="description" content="Howdy! My name's Rae. I'm a silly moth that likes to make a buncha cool stuff!">
<link rel="icon" type="image/x-icon" href="https://rae.wtf/favicon.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://rae.wtf/">
<meta property="og:type" content="website">
<meta property="og:title" content="rae.wtf - stuff by rae">
<meta property="og:description" content="Howdy! My name's Rae. I'm a silly moth that likes to make a buncha cool stuff!">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="rae.wtf">
<meta property="twitter:url" content="https://rae.wtf/">
<meta name="twitter:title" content="rae.wtf - stuff by rae">
<meta name="twitter:description" content="Howdy! My name's Rae. I'm a silly moth that likes to make a buncha cool stuff!">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,600;0,800;1,600;1,800&family=Righteous&display=swap" rel="stylesheet">
<link href="site.css" rel="stylesheet">

<body>
    <div class="header">
        <h1><a href="https://rae.wtf">rae.wtf</a></h1>
        <h2>stuff by rae</h2>
    </div>
    <div class="nav">
        <a href="games">Games</a>
        <a href="trinkets">Trinkets</a>
        <a href="commissions">Commissions</a>
        <a href="blog">Blog</a>
    </div>
    <div class="main">
        <img src="pfp.jpg" />
        <h1>Howdy!</h1>
        <h2>Welcome to my website!</h2>
        <p>My name's Rae (she/they). I'm a silly moth that likes to make a buncha cool stuff! Luckily, other people seem to find it pretty cool as well. Anyway, welcome! Take a look around — there's plenty of rad stuff to find and play! Games, art, other miscellaneous things... who knows!</p>
    </div>
    <div class="sides">
        <div class="side_left">
            <h3>Featured Project</h3>
			<h1>Bona Fido</h1>
			<img src="games/bona_preview.gif" />
			<p>Bona Fido is a fast-paced, single-screen platformer, inspired by classic arcade games but with a spooOOooky twist. Try for a new high score again and again as you narrowly dodge enemies, dig up treasures that could either help you eke out a record or spell your utter demise, and bark your way to becoming top dog of the afterlife! Don't worry, it only goes on forever.</p>
			<br>
			<a href="https://play.date/games/bona-fido" class="button">Buy the game</a>
			<a href="https://stuffbyrae.itch.io/bona-fido" class="button">Try the jam version</a>
            <hr>
            <h3>Newest Blog Post</h3>
            {% for post in site.posts limit:1 %}
                {% if post.visible == 1  %}
                    <a href="{{ post.url }}" class="post_container {{ post.tag | slugify }}">
                        <h1>{{ post.title }}</h1>
                        <h3>{{ post.date | date_to_string: "ordinal", "US" }}&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;{{ post.tag }}</h3>
                        <p>{{ post.desc }}</p>
                    </a>
                {% endif %}
            {% endfor %}
            <a href="blog" class="button">More blog posts</a>
        </div>
        <div class="side_right">
            <h3>Latest Happenings</h3>
			<p class="box">02.04.2025 — <a href="https://play.date/games/hexa">HEXA</a> was nominated for 'Best Puzzle Game' in the <a href="https://playdate-wiki.com/wiki/The_2024_Playdate_Community_Awards">2024 Playdate Community Awards</a>! Thanks, folks!</p>
			<p class="box">01.29.2025 — 25 letters, 5 rows, 1 goal. Log onto Puzzmo.com, and see if you can't <a href="https://puzzmo.com/puzzle/2025-01-29/bongo">beat my Bongo</a>.</p>
            <p class="box">01.28.2025 — <a href="https://play.date/games/bona-fido"><i>Bona Fido</i></a>, my little jam game from PlayJam 6, is now available in Catalog!!</p>
            <br>
            <h3>You should check out</h3>
            <p class="box"><i>RowBot Rally</i> - <i>THE</i> high-speed, top-down boat racing game.<br><a href="https://play.date/games/rowbot-rally">Buy it today!</a></p>
        </div>
    </div>
    <div class="footer">
        <p>2020-2025, made by rae</p>
        <p>You can follow me on-line:<br><a href="https://bsky.app/profile/rae.wtf">Bluesky</a>,<br>or <a href="https://github.com/stuffbyrae">GitHub</a>.</p>
        <p>You can also support me:<br>perhaps by <a href="commissions">buying a commission</a>?<br>...or dropping me a tip on <a href="https://ko-fi.com/stuffbyrae">Ko-Fi</a>!</p>
        <p>If you wanna see everything,<br>peep the <a href="expert">expert mode</a>,</p>
        <p>...and have a nice day!</p>
    </div>
</body>
</html>