	:root {
--piw: #ffdce8; --pil: #f38eb2; --pid: #b94576; --pib: #601a37;
--rew: #ffd9d9; --rel: #f26f6f; --red: #b84445; --reb: #571515;
--orw: #ffebd3; --orl: #eaa96f; --ord: #d66b0c; --orb: #47280c;
--yew: #fffad0; --yel: #f7ea78; --yed: #b7a71c; --yeb: #544407;
--sew: #ebfff6; --sel: #54ffc2; --sed: #20bd98; --seb: #24584c;
--blw: #d8f0fc; --bll: #78c1e1; --bld: #559bcf; --blb: #325084;
--puw: #f7e8ff; --pul: #baa1ed; --pud: #744fbc; --pub: #231b34;}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	display: flex;
	justify-content: center;
	background: var(--sed);
}

body {
	margin: 0 0;
	background: var(--sew);
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 800px;
	min-height: 100vh;
	overflow-x: hidden;
}

.header {
	background: rgb(84,255,194);
	background: linear-gradient(130deg, rgba(84,255,194,1) 0%, rgba(84,255,194,1) 85%, rgba(32,189,152,1) 85%, rgba(32,189,152,1) 100%);
	overflow: hidden;
}

.header h1 {
	margin: 0;
	line-height: 1;
	color: var(--seb);
	font-family: 'Righteous', sans-serif;
	font-size: 3rem;
}

.header h1 a {
	color: inherit;
	text-decoration: none;
}

.header h1 a:hover {
	text-decoration: underline;
}

.header h2 {
	margin: 0;
	line-height: 1;
	color: var(--sed);
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	font-style: italic;
}

.nav {
	width: 100%;
	background: var(--rel);
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav a {
	color: var(--rew);
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	padding: 0 0.75rem;
	width: 75%;
	text-align: center;
	white-space: nowrap;
	border-radius: 5px;
	text-decoration: none;
}

.nav a:not(:last-child) {
	margin-bottom: 0.25rem;
}

.nav a:hover {
	cursor: pointer;
	filter: brightness(120%);
}

.nav .active {
	background: var(--rew);
	color: var(--red);
}

.main, .side_left, .side_right {
	padding: 1.5rem;
	overflow: hidden;
}

.main {
	border-top: 4px solid var(--sed);
}

.blog .main {
	border-bottom: 4px solid var(--sed);
}

.main h1, .sides h1 {
	margin: 0;
	margin-bottom: 0.5rem;
	line-height: 1;
	font-family: 'Righteous', sans-serif;
	font-size: 2rem;
	color: var(--seb);
}

.main h2, .sides h2 {
	margin: 0;
	margin-bottom: 0.5rem;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-style: italic;
	color: var(--sed);
}

.main h3, .sides h3 {
	margin: 0;
	margin-bottom: 0.5rem;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--red);
}

.main p, .sides p, .main ul, .sides ul, .main ul li, .sides ul li {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	margin-bottom: 0.5rem;
	color: var(--seb);
}

.expert p {
	margin-bottom: 0;
}

.main hr, .sides hr {
	width: 70%;
	margin: 1.5rem auto;
	border-top: 4px dashed var(--sed);
}

.box {
	padding: 1rem;
	line-height: 1;
	background: var(--sel);
	border-radius: 5px;
}
.box:not(:last-child) {
	margin-bottom: 0.5rem;
}

.box a, .main p a, .sides p a, .footer p a, .main ul li a, .sides ul li a {
	color: var(--red);
}

.button {
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 0.5rem;
	background: var(--yel);
	color: var(--yeb);
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.button:hover {
	cursor: pointer;
	filter: brightness(120%);
}

body:not(.blog) .main img:not(.logo), body:not(.blog) .sides img:not(.logo) {
	max-width: 40%;
	max-height: 150px;
	margin-left: 1rem;
	margin-bottom: 1rem;
	float: right;
	border-radius: 5px;
	border: 4px solid var(--sed);
}

body.blog .main img, .image {
	width: 80%;
	min-height: auto;
	margin: 1.5rem auto;
	border-radius: 5px;
	border: 4px solid var(--sed);
	display: block;
}

.logo {
	max-width: 50%;
	max-height: 150px;
}

.sides {
	border-top: 4px solid var(--sed);
	border-bottom: 4px solid var(--sed);
	display: flex;
	flex-direction: column;
}

.side_left {
	border-bottom: 4px solid var(--sed);
	min-width: 66%;
}

.footer {
	padding: 1rem;
	background: var(--sel);
	flex-grow: 1;
}

.footer p {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 1rem;
	color: var(--seb);
	line-height: 1;
}

code {
	padding: 0.5rem;
	line-height: 1;
	background: var(--sel);
	border-radius: 5px;
	display: block;
	width: 100%;
	overflow-x: scroll;
}

.code-span {
	font-family: monospace;
	padding: 0.25rem 0.5rem;
	line-height: 1;
	background: var(--sel);
	border-radius: 5px;
}

.post_container:any-link {
	padding: 1rem 1.5rem;
	border-radius: 5px;
	position: relative;
	display: block;
	text-decoration: none;
	color: initial;
	padding-right: 80px;
}
.post_container:not(:last-child) {
	margin-bottom: 1rem;
}
.post_container:hover {
	cursor: pointer;
}

.post_container h1, .post_container h3, .post_container p {
	z-index: 2;
}
.post_container p {
	margin-bottom: 0;
	line-height: 1;
}

.post_container::before, .post_container::after {
	position: absolute;
	content: '>';
	font-family: 'Righteous', sans-serif;
	color: var(--sed);
	font-size: 5rem;
	bottom: -10px;
	z-index: 1;
}
.post_container::before {
	right: 40px;
	transition: all 0.2s cubic-bezier(.17,.67,.48,1.54);
	transition-delay: 50ms;
}
.post_container::after {
	right: 15px;
	transition: all 0.2s cubic-bezier(.17,.67,.48,1.54);
}
.post_container:hover::before, .post_container:hover::after {
	transform: translateX(10px);
}

.blog.post_container {background: var(--sel); border: 4px solid var(--sed);}
.blog h1, .blog p, .blog ul, .blog ul li {color: var(--seb);}
.blog.post_container h3 {color: var(--red);}
.blog.post_container::before, .blog.post_container::after {color: var(--sed);}

.rowbot-rally.post_container {background: var(--bll); border: 4px solid var(--bld);}
.rowbot-rally a {color: var(--bll);}
.rowbot-rally h1, .rowbot-rally p, .rowbot-rally ul, .rowbot-rally ul li {color: var(--blb);}
.rowbot-rally.post_container h3 {color: var(--yew);}
.rowbot-rally.post_container::before, .rowbot-rally.post_container::after {color: var(--bld);}

.first-in-line.post_container {background: var(--yel); border: 4px solid var(--yed);}
.first-in-line h1, .first-in-line p, .first-in-line ul, .first-in-line ul li {color: var(--yeb);}
.first-in-line.post_container h3, .first-in-line a {color: var(--red);}
.first-in-line.post_container::before, .first-in-line.post_container::after {color: var(--orl);}

.hexa.post_container {background: var(--pul); border: 4px solid var(--pud);}
.hexa a {color: var(--pul);}
.hexa h1, .hexa p, .hexa ul, .hexa ul li {color: var(--pub);}
.hexa.post_container h3 {color: var(--sew);}
.hexa.post_container::before, .hexa.post_container::after {color: var(--pud);}

.bona-fido.post_container {background: var(--puw); border: 4px solid var(--pul);}
.bona-fido a {color: var(--orl);}
.bona-fido h1, .bona-fido p, .bona-fido ul, .bona-fido ul li {color: var(--pub);}
.bona-fido.post_container h3 {color: var(--ord);}
.bona-fido.post_container::before, .bona-fido.post_container::after {color: var(--pul);}

i {
	width: 40px;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.nav {
		flex-direction: row;
		justify-content: space-around;
	}

	.nav a:not(:last-child) {
		margin-bottom: 0;
	}

	.nav a {
		width: fit-content;
	}

	.sides {
		flex-direction: row;
	}

	.side_left {
		border-bottom: none;
		border-right: 4px solid var(--sed);
		max-width: 66%;
	}
}