	:root {
--piw: #ffdce8; --pil: #f38eb2; --pid: #b94576; --pib: #601a37;
--rew: #ffd9d9; --rel: #f26f6f; --red: #b84445; --reb: #571515;
--orw: #ffebd3; --orl: #eaa96f; --ord: #d66b0c; --orb: #47280c;
--yew: #fffad0; --yel: #f7ea78; --yed: #b7a71c; --yeb: #544407;
--sew: #ebfff6; --sel: #54ffc2; --sed: #20bd98; --seb: #24584c;
--blw: #d8f0fc; --bll: #78c1e1; --bld: #559bcf; --blb: #325084;
--puw: #f7e8ff; --pul: #baa1ed; --pud: #744fbc; --pub: #231b34;}

:root {color-scheme: light dark;}
* {box-sizing: border-box;}
html {
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	background: light-dark(#dddddd, #444444);
	display: flex;
	justify-content: center;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	background: light-dark(#cccccc, #333333);
	width: 800px;
}

.nav {
	width: 100%;
	background: linear-gradient(90deg, light-dark(#dddddd00, #44444400) 0%, light-dark(#dddddd, #444444) 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1rem 0;
}
.nav_item {
	font-size: 2rem;
	padding: 0.25rem 1rem;
	transition: all 0.2s;
	border-left: 0px solid var(--color-on-accent);
	text-decoration: none;
	color: light-dark(#555555, white);
}
.nav_item:not(:last-child) {
	border-bottom: 2px solid #ffffff30;
}
.active.nav_item, .nav_item:hover {
	border-left: 10px solid var(--color-on-accent);
	background: var(--accent-color);
	color: var(--color-on-accent);
	cursor: pointer;
}

header {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	background: light-dark(#aaaaaa, #222222);
	padding: 1rem 2rem;
	color: light-dark(white, white);
	position: relative;
	border-bottom: 5px solid var(--accent-color);
}
.logo {height: 100px;}
.info {display: none; align-items: center;}
.up_box {
	width: 50px;
	aspect-ratio: 1 / 1;
	background: var(--accent-color);
	margin-right: 1rem;
	position: relative;
}
.up_box:after{
	position: absolute;
	width: 35px;
	aspect-ratio: 1 / 1;
	margin: auto;
	content: '';
	background: var(--color-on-accent);
	clip-path: polygon(0 100%, 17% 100%, 81% 35%, 81% 75%, 100% 75%, 100% 0, 25% 0, 25% 19%, 65% 19%, 0 83%);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.breadcrumbs {margin: 0; font-size: 1.5rem; margin-bottom: -0.7rem; font-weight: 400; text-wrap: nowrap;}
.breadcrumbs a {color: light-dark(white, white);}
.title {margin: 0; font-size: 2.5rem; font-weight: 700; text-wrap: nowrap;}
.title a {color: light-dark(white, white);}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 2rem;
	padding-bottom: 0;
	width: 100%;
}

.topic_header {
	text-transform: uppercase;
	letter-spacing: 1rem;
	font-size: 2rem;
	background: linear-gradient(90deg, var(--accent-color-transparent) 0%,
	var(--accent-color-transparent) 50%, var(--accent-color) 100%);
	padding: 0 2rem;
	margin: 0 -2rem;
	color: light-dark(#777777, white);
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.topic_header a {
	text-transform: initial;
	letter-spacing: initial;
	font-size: 1.5rem;
	color: var(--color-on-accent);
	padding: 0.5rem 0;
	text-decoration: none;
	transition: all 0.2s;
	line-height: 1;
}
.topic_header a:hover {
	cursor: pointer;
}
.topic_header a:before {
	content: '>> ';
}

.featured_box {
	width: 100%;
	flex-direction: column;
	background: light-dark(#dddddd, #444444);
	border: 5px solid light-dark(#eeeeee, #555555);
	margin-bottom: 2rem;
	display: flex;
	overflow: hidden;
	align-items: center;
	padding: 1rem 2rem;
	color: light-dark(#555555, white);
}
.box_content {
	display: flex;
	flex-direction: column;
}
.box_image, .box_image_grid {
	width: 100%;
	aspect-ratio: 5 / 3;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.pfp {
	width: 50%;
	aspect-ratio: 1 / 1;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.box_content h1 {
	margin: 0;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 1rem;
}
.box_content h2 {
	margin: 0;
	font-weight: 400;
	font-style: italic;
	font-size: 1.5rem;
	text-align: justify;
	text-align-last: justify;
	margin-bottom: 1rem;
}
.box_content h3 {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1rem;
	text-align: right;
	color: light-dark(var(--color-on-accent), var(--accent-color));
}
.box_content p {
	margin: 0;
	font-size: 1.5rem;
	text-align: justify;
	margin-bottom: 1rem;
}
.box_content a {
	width: 100%;
	background: var(--accent-color);
	color: var(--color-on-accent);
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	transition: all 0.2s;
	font-weight: 600;
	text-decoration: none;
}
.box_content a:before {content: '>> ';}
.box_content a:not(:last-child) {
	margin-bottom: 1rem;
}
.box_content a:hover {
	padding-left: 2.5rem;
	cursor: pointer;
}

.whats_new {
	padding: 1rem 2rem;
	background: light-dark(#dddddd, #444444);
	border: 5px solid light-dark(#eeeeee, #555555);
	margin-bottom: 2rem;
	width: 90%;
	position: relative;
}
.whats_new:last-child {
	margin-bottom: 3rem;
}
.whats_new:nth-child(even) {
	transform: rotate(-2deg);
}
.whats_new:nth-child(odd) {
	align-self: end;
	transform: rotate(2deg);
}
.whats_new:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	bottom: -25px;
}
.whats_new:nth-child(even):after {
	border-left: 10px solid light-dark(#eeeeee, #555555);
	border-top: 10px solid light-dark(#eeeeee, #555555);
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: 10px;
}
.whats_new:nth-child(odd):after {
	border-left: 10px solid transparent;
	border-top: 10px solid light-dark(#eeeeee, #555555);
	border-right: 10px solid light-dark(#eeeeee, #555555);
	border-bottom: 10px solid transparent;
	right: 10px;
}
.whats_new h1 {
	margin: 0;
	margin-right: 2rem;
	font-size: 2rem;
	float: left;
	color: light-dark(var(--color-on-accent), var(--accent-color));
}
.whats_new p, .whats_new p a {
	margin: 0;
	font-size: 1.5rem;
	text-align: justify;
	text-align-last: right;
	color: light-dark(#555555, white);
}

.coming_up {
	background: light-dark(#dddddd, #444444);
	border: 5px solid light-dark(#eeeeee, #555555);
	margin-bottom: 2rem;
	color: light-dark(#555555, white);
	display: flex;
	flex-direction: column;
}
.coming_up img {
	width: 100%;
	aspect-ratio: 5 / 1.5;
	object-fit: cover;
}
.coming_up h1 {
	margin: 2rem;
	margin-bottom: 1rem;
	line-height: 1;
}
.coming_up h3 {
	margin: 0 2rem;
	font-size: 1.25rem;
	line-height: 1rem;
	color: light-dark(var(--color-on-accent), var(--accent-color));
}
.coming_up p {
	margin: 1rem 2rem 2rem 2rem;
	font-size: 1.5rem;
	flex-grow: 1;
}
.coming_up a {
	display: block;
	text-decoration: none;
	width: 100%;
	background: var(--accent-color);
	color: var(--color-on-accent);
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	font-weight: 600;
	transition: all 0.2s;
}
.coming_up a:before {content: '>> ';}
.coming_up a:hover {
	padding-left: 2.5rem;
	cursor: pointer;
}

.grid {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto;
	margin-bottom: 2rem;
	gap: 2rem;
}
.grid .coming_up {
	margin-bottom: 0;
}
.grid .featured_box {
	margin-bottom: 0;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: light-dark(#aaaaaa, #222222);
	border-top: 5px solid var(--accent-color);
	padding: 1rem 2rem;
	color: light-dark(white, white);
}
.footer_content {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 1rem 0;
	margin-bottom: -1rem;
}
.footer_content > div:not(last-child), .footer_content > p {margin-bottom: 2rem;}
.social {
	font-size: 1.5rem;
	transition: all 0.2s;
	padding: 0.25rem 0.75rem;
	text-decoration: none;
	color: light-dark(white, white);
}
.social:hover {
	background: var(--accent-color);
	color: var(--color-on-accent);
	cursor: pointer;
}
footer p {font-size: 1.5rem; margin: 0; text-align: center;}

@media only screen and (min-width: 600px) {
	.nav {position: absolute; top: 0; right: 0; margin: 0; flex-direction: row; padding-left: 20%; padding-right: 1rem;}

	.nav_item {font-size: 1.5rem;}
	.nav_item:not(:last-child) {border-bottom: none;}
	.active.nav_item, .nav_item:hover {border-left: 0px solid var(--color-on-accent);}

	header {flex-direction: row; align-items: end;}

	.info {display: flex;}

	.side_by_side {
		display: flex;
		margin-bottom: 2rem;
	}
	.side_1, .side_2 {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.side_1 {
		padding-right: 2rem;
		border-right: 2px solid #ffffff30;
	}
	.side_2 {
		padding-left: 2rem;
	}

	:not(.grid) > .featured_box {flex-direction: row;}
	.box_image {width: 50%; margin-bottom: 1rem; margin-top: 1rem; margin-left: 2rem;}
	.pfp {width: 30%; margin-bottom: 1rem; margin-top: 1rem; margin-left: 2rem;}

	.grid {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: auto auto;
	}

	.footer_content {flex-direction: row; margin-bottom: 1rem;}
	.footer_content > div:not(last-child), .footer_content > p {margin-bottom: 0;}
	.social {font-size: 1.25rem;}
}