---
layout: null
---

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML Meta Tags -->
<title>rae.wtf > trinkets by rae</title>
<meta name="description" content="Hi! My name's Rae. Welcome to my website!">
<link rel="icon" type="image/x-icon" href="https://rae.wtf/favicon.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://rae.wtf/">
<meta property="og:type" content="website">
<meta property="og:title" content="rae.wtf > trinkets by rae">
<meta property="og:description" content="Hi! My name's Rae. Welcome to my website!">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="rae.wtf">
<meta property="twitter:url" content="https://rae.wtf/">
<meta name="twitter:title" content="rae.wtf > trinkets by rae">
<meta name="twitter:description" content="Hi! My name's Rae. Welcome to my website!">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,600;0,800;1,600;1,800&family=Righteous&display=swap" rel="stylesheet">
<link href="../site.css" rel="stylesheet">

<style>
	:root {--accent-color: #f38eb2; --accent-color-transparent: #f38eb200; --color-on-accent: #601a37;}
</style>

<header>
	<div class="nav">
		<a href="../" class="nav_item">home</a>
		<a href="../games" class="nav_item">games</a>
		<a href="../art" class="nav_item">art</a>
		<a href="../commissions" class="nav_item">commissions</a>
		<a href="../trinkets" class="nav_item active">trinkets</a>
		<a href="../blog" class="nav_item">blog</a>
	</div>
	<a href="../"><img class="logo" src="../logo.png" alt="rae.wtf logo. Alongside the domain name, there's an icon with some moth antennae atop a planet with an orbiting object." /></a>
	<div class="info">
		<div class="up_box"></div>
		<div>
			<h2 class="breadcrumbs"><a href="../">home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="../trinkets">trinkets</a></h2>
			<h1 class="title">trinkets by rae</h1>
		</div>
	</div>
</header>

<div class="content">
	<p class="topic_header">Featured</p>
	{% for trinket in site.data.trinkets %}
		{% if trinket.featured == true %}
			<div class="featured_box">
				<div class="box_content">
					<div style="display: flex; align-items: center; justify-content: space-between">
					<h1>{{ trinket.name }}</h1>
					<h3>{{ trinket.date }}</h3>
					</div>
					<h2>{{ trinket.short_desc }}</h2>
					<p>{{ trinket.long_desc }}</p>
					{% if trinket.link_browser %}
						<a href="{{ trinket.link_browser }}">Visit in your web browser</a>
					{% endif %}
					{% if trinket.link_youtube %}
						<a href="{{ trinket.link_youtube }}">Watch the video on YouTube</a>
					{% endif %}
					{% if trinket.link_catalog %}
						<a href="{{ trinket.link_catalog }}">Buy it in Playdate Catalog</a>
					{% endif %}
					{% if trinket.link_itch %}
						<a href="{{ trinket.link_itch }}">Get it on Itch.io</a>
					{% endif %}
					{% if trinket.link_postmortem %}
						<a href="{{ trinket.link_postmortem }}">Read about it on the blog</a>
					{% endif %}
					{% if trinket.link_download %}
						<a href="{{ trinket.link_download }}">Download</a>
					{% endif %}
				</div>
				<img class="box_image" src="{{ trinket.preview }}" alt="{{ trinket.preview_alt }}" />
			</div>
		{% endif %}
	{% endfor %}
	<p class="topic_header">More Trinkets</p>
	<div class="grid">
		{% for trinket in site.data.trinkets %}
			{% if trinket.featured == false %}
				<div class="featured_box">
					<div class="box_content">
						<div style="display: flex; align-items: center; justify-content: space-between">
						<h1>{{ trinket.name }}</h1>
						<h3>{{ trinket.date }}</h3>
						</div>
						<p>{{ trinket.long_desc }}</p>
						{% if trinket.link_browser %}
							<a href="{{ trinket.link_browser }}">Visit in your web browser</a>
						{% endif %}
						{% if trinket.link_youtube %}
							<a href="{{ trinket.link_youtube }}">Watch the video on YouTube</a>
						{% endif %}
						{% if trinket.link_catalog %}
							<a href="{{ trinket.link_catalog }}">Buy it in Playdate Catalog</a>
						{% endif %}
						{% if trinket.link_itch %}
							<a href="{{ trinket.link_itch }}">Get it on Itch.io</a>
						{% endif %}
						{% if trinket.link_postmortem %}
							<a href="{{ trinket.link_postmortem }}">Read about it on the blog</a>
						{% endif %}
						{% if trinket.link_download %}
							<a href="{{ trinket.link_download }}">Download</a>
						{% endif %}
					</div>
					<img class="box_image_grid" src="{{ trinket.preview }}" alt="{{ trinket.preview_alt }}" />
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<footer>
	<div class="footer_content">
		<p>2020&#8211;2026, made by rae</p>
		<div>
			<p>find me on-line:</p>
			<a href="https://bsky.app/profile/rae.wtf" class="social">bluesky</a>
			<a href="https://github.com/raewtf" class="social">github</a>
			<a href="https://raewtf.itch.io" class="social">itch.io</a>
		</div>
	</div>
	<div class="footer_content">
		<p>this site, and the stuff within, doesn't contain the contents of any generative algorithms.</p>
	</div>
	<div class="footer_content">
		<div>
			<p>support me:</p>
			<a href="../commissions" class="social">commissions</a>
			<a href="https://store.steampowered.com/dev/rae" class="social">steam</a>
		</div>
		<div>
			<p>everything:</p>
			<a href="../expert" class="social">expert mode</a>
		</div>
		<p>...have a nice day!</p>
	</div>
</footer>