---
layout: null
---

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML Meta Tags -->
<title>rae.wtf > everything by rae</title>
<meta name="description" content="Hi! My name's Rae. Welcome to my website!">
<link rel="icon" type="image/x-icon" href="https://rae.wtf/favicon.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://rae.wtf/">
<meta property="og:type" content="website">
<meta property="og:title" content="rae.wtf > everything by rae">
<meta property="og:description" content="Hi! My name's Rae. Welcome to my website!">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="rae.wtf">
<meta property="twitter:url" content="https://rae.wtf/">
<meta name="twitter:title" content="rae.wtf > everything by rae">
<meta name="twitter:description" content="Hi! My name's Rae. Welcome to my website!">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,600;0,800;1,600;1,800&family=Righteous&display=swap" rel="stylesheet">
<link href="../site.css" rel="stylesheet">

<style>
	:root {--accent-color: #54ffc2; --accent-color-transparent: #54ffc200; --color-on-accent: #24584c;}
</style>

<header>
	<div class="nav">
		<a href="../" class="nav_item">home</a>
		<a href="../games" class="nav_item">games</a>
		<a href="../art" class="nav_item">art</a>
		<a href="../commissions" class="nav_item">commissions</a>
		<a href="../trinkets" class="nav_item">trinkets</a>
		<a href="../blog" class="nav_item">blog</a>
	</div>
	<a href="../"><img class="logo" src="../logo.png" alt="rae.wtf logo. Alongside the domain name, there's an icon with some moth antennae atop a planet with an orbiting object." /></a>
	<div class="info">
		<div class="up_box"></div>
		<div>
			<h2 class="breadcrumbs"><a href="../">home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="../expert">expert</a></h2>
			<h1 class="title">everything by rae</h1>
		</div>
	</div>
</header>

<style>
.expert_listing {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 -2rem;
	padding: 0.5rem 2rem;
}
.expert_listing:nth-child(odd) {
	background: light-dark(#dddddd, #444444);
}
.expert_listing:last-child {
	margin-bottom: 2rem;
}
.expert_listing h2 {
	margin: 0;
	font-weight: 600;
	color: light-dark(var(--color-on-accent), var(--accent-color));
	font-size: 2rem;
}
.expert_listing p {
	margin: 0;
	text-align: right;
	font-weight: 800;
	font-size: 2rem;
	color: light-dark(#555555, white);
}
.expert_name {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.expert_links a {
	line-height: 1;
	margin: 0;
	font-size: 1.5rem;
	color: light-dark(#555555, white);
}
.expert_links a:not(last-child) {
	margin-left: 1rem;
}
</style>

<div class="content">
	<p class="topic_header">Games</p>
	<div>
		{% for game in site.data.games %}
			<div class="expert_listing">
				<h2>{{ game.date }}</h2>
				<div class="expert_name">
					<p>{{ game.name }}</p>
					<div class="expert_links">
						{% if game.link_steam %}
							<a href="{{ game.link_steam }}">Steam</a>
						{% endif %}
						{% if game.link_catalog %}
							<a href="{{ game.link_catalog }}">Playdate Catalog</a>
						{% endif %}
						{% if game.link_itch %}
							<a href="{{ game.link_itch }}">Itch.io</a>
						{% endif %}
						{% if game.link_github %}
							<a href="{{ game.link_github }}">GitHub</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<p class="topic_header">Art</p>
	<div>
		<div class="expert_listing">
			<h2>??.??.????</h2>
			<div class="expert_name">
				<p>Under construction!</p>
			</div>
		</div>
	</div>
	<p class="topic_header">Trinkets</p>
	<div>
		{% for trinket in site.data.trinkets %}
			<div class="expert_listing">
				<h2>{{ trinket.date }}</h2>
				<div class="expert_name">
					<p>{{ trinket.name }}</p>
					<div class="expert_links">
						{% if trinket.link_browser %}
							<a href="{{ trinket.link_browser }}">View</a>
						{% endif %}
						{% if trinket.link_youtube %}
							<a href="{{ trinket.link_youtube }}">YouTube</a>
						{% endif %}
						{% if trinket.link_catalog %}
							<a href="{{ trinket.link_catalog }}">Playdate Catalog</a>
						{% endif %}
						{% if trinket.link_itch %}
							<a href="{{ trinket.link_itch }}">Itch.io</a>
						{% endif %}
						{% if trinket.link_download %}
							<a href="{{ trinket.link_download }}">Download</a>
						{% endif %}
						{% if trinket.link_github %}
							<a href="{{ trinket.link_github }}">GitHub</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<p class="topic_header">Blog Posts</p>
	<div>
		{% for post in site.posts %}
			{% if post.visible == 1 %}
				<div class="expert_listing">
					<h2>{{ post.date | date: '%m.%d.%Y' }}</h2>
					<div class="expert_name">
						<p>{{ post.title }}</p>
						<div class="expert_links">
							<a href="{{ post.url }}">Read</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<footer>
	<div class="footer_content">
		<p>2020&#8211;2026, made by rae</p>
		<div>
			<p>find me on-line:</p>
			<a href="https://bsky.app/profile/rae.wtf" class="social">bluesky</a>
			<a href="https://github.com/raewtf" class="social">github</a>
			<a href="https://play.date/games/studios/wtf.rae" class="social">playdate</a>
			<a href="https://store.steampowered.com/dev/rae" class="social">steam</a>
			<a href="https://raewtf.itch.io" class="social">itch.io</a>
		</div>
	</div>
	<div class="footer_content">
		<p>this site, and the stuff within, doesn't contain the outputs of any generative algorithms.</p>
	</div>
	<div class="footer_content">
		<div>
			<p>support me:</p>
			<a href="../commissions" class="social">commissions</a>
		</div>
		<div>
			<p>everything:</p>
			<a href="../expert" class="social">expert mode</a>
		</div>
		<p>...have a nice day!</p>
	</div>
</footer>