:root {font-size: 10px; margin: 10px; top: 10px; bottom: 10px; left: 10px; right: 10px; --width: 280px; --yellow: #F2D25E; --purple: #783AF5; --black: #212223; --gray: #7A8085; --white: #EFEFEF;}
* {box-sizing: border-box; font-family: 'Poppins', sans-serif;}
body {margin: 0; background: var(--yellow); padding: 20px 10px;}

@keyframes shine {
    0%, 35%, 80% {transform: skewX(-40deg) translateX(-700%);}
    55% {transform: skewX(-40deg) translateX(250%);}
    20%, 95%, 100% {transform: skewX(-40deg) translateX(700%);}
}

.f {display: flex;}
.fc {flex-direction: column;}
.fac {align-items: center;}
.fjc {justify-content: center;}
.fg {flex-grow: 1;}
.maxwidth {width: 100%;}

.logo {width: calc(var(--width) * 0.7);}
.menu_button {border: 4px solid black; border-radius: 50%; width: 40px; height: 40px; margin-left: 3rem; font-size: 20px; background: var(--yellow); color: var(--white);}
.menu_button:hover {filter: brightness(120%); transform: scale(1.1);}
.menu_button:active {filter: brightness(90%); transform: scale(0.9);}

.menu .menu_button {position: absolute; top: 20px; right: 20px; background: color(display-p3 0.937 0.314 0.137);}

.stuff {margin: 2rem 0; flex-direction: column; display: flex;}

.menu_holder {width: 100%; height: 100%; position: fixed; margin: auto; top: 0; bottom: 0; left: 0; right: 0; background: #21222390; display: none; z-index: 99;}
.active.menu_holder {display: flex;}
.menu {width: 80%; height: 100%; position: fixed; top: 0; bottom: 0; right: 0; background: var(--white); border-left: 4px solid var(--black); padding: 2rem;}
.menu_icon {margin-right: 1rem; width: 25px; text-align: center;}
.menu_category {margin: 0; font-size: 2rem; color: var(--purple); margin-bottom: 0.5rem;}
.menu_game {font-size: 1.5rem; font-weight: 500; border-radius: 5px; padding: 0.1rem 0.5rem; width: 100% !important; cursor: pointer; color: var(--black); user-select: none; -webkit-user-select: none;}
.menu_game:hover {background: var(--black); color: var(--white);}
.menu_game:active {transform: scale(0.97);}
details summary{display: grid;}
details summary::-webkit-details-marker {display: none;}
details {margin: 0rem; transition: margin 0.2s cubic-bezier(.17,.67,.45,1.46);}
details[open] {margin: 0 1rem;}
details > :not(summary) {display: flex;}
.menu_game_cat {color: var(--black); font-size: 1.25rem; margin-left: calc(1rem + 25px + 0.5rem); font-weight: 500; cursor: pointer; transition: all 0.2s cubic-bezier(.17,.67,.49,1.6); user-select: none; -webkit-user-select: none;}
.menu_game_cat:hover {transform: translateX(10px);}
.menu hr {border: none; height: 3px; width: 100%; background: var(--black); margin: 1rem 0; align-self: center;}

.scoreboard {width: var(--width); border: 4px solid var(--black); background: var(--purple); border-radius: 20px; overflow: hidden; box-shadow: 5px 5px 0 var(--black); height: fit-content;}
.sb_info {padding: 1rem 1.5rem;}
.sb_name {margin: 0; font-size: 2rem; color: var(--white);}
.sb_cat {margin: 0; font-size: 1.25rem; color: var(--yellow); font-weight: 500;}
.sim {background: var(--yellow); color: var(--black); font-size: 1rem; border-radius: 5px; margin-left: 0.5rem; vertical-align: middle; padding: 0.15rem 0.5rem;}
.sb_e {border-radius: 10px; overflow: hidden;}
.sb_empty {text-align: center; margin: 0 2rem 2rem 2rem; color: var(--white); opacity: 0.7; font-style: italic; font-size: 1.5rem;}
.e {margin: 0; display: flex; align-items: end; background: var(--white); padding: 0.5rem 1.5rem; overflow: hidden; position: relative; border-bottom: 4px solid var(--gray);}
.e:before {content: ''; position: absolute; height: 100%; width: 25%; background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); margin: auto; top: 0; bottom: 0; transform: translateX(500%); z-index: 9; opacity: 0.5;}
.r {margin: 0; font-family: 'Righteous', sans-serif; font-size: 6rem; position: absolute; top: -2rem; text-align: right; right: 1rem; z-index: 1; color: var(--purple); opacity: 0.3;}
.p {margin: 0; font-size: 1.5rem; z-index: 2; color: var(--black); opacity: 0.7;}

.badge {width: 25px; height: 25px; margin-left: 0.5rem; vertical-align: middle;}
.badge_panic {content: url('badge_panic.png');}
.badge_s1 {content: url('badge_s1.png');}
.badge_catalog {content: url('badge_catalog.png');}
.badge_tym {content: url('badge_tym.png');}
.badge_rae {content: url('badge_rae.png');}

.v {margin: 0; font-family: 'Righteous', sans-serif; font-size: 2.5rem; z-index: 2; color: var(--black);}
.subv {font-size: 1.25rem; opacity: 0.7; color: var(--black); margin-left: 0.5rem;}
.t {margin: 0; position: absolute; bottom: 0.5rem; right: 1.5rem; font-size: 1rem; font-style: italic; color: var(--black); opacity: 0.7;}
.e:nth-child(1) {background: linear-gradient(90deg, rgba(230,213,139,1) 0%, rgba(239,239,239,1) 100%); border-bottom: 4px solid #DDB91E;}
.e:nth-child(1):before {animation: shine 15s infinite cubic-bezier(.49,0,.49,1);}
.e:nth-child(2) {background: linear-gradient(90deg, rgba(198,202,203,1) 0%, rgba(239,239,239,1) 100%); border-bottom: 4px solid #97A0A2;}
.e:nth-child(2):before {animation: shine 17s 3s infinite cubic-bezier(.49,0,.49,1);}
.e:nth-child(3) {background: linear-gradient(90deg, rgba(198,177,150,1) 0%, rgba(239,239,239,1) 100%); border-bottom: 4px solid #976C32;}
.e:nth-child(3):before {animation: shine 15s 6s infinite cubic-bezier(.49,0,.49,1);}
.e:nth-child(1) .r {color: #DDB91E; opacity: 0.7;}
.e:nth-child(2) .r {color: #97A0A2; opacity: 0.7;}
.e:nth-child(3) .r {color: #976C32; opacity: 0.7;}
.e:last-child {border-bottom: none;}

.footer {font-size: 1.25rem; text-align: center; color: var(--black); margin: 0; user-select: none; -webkit-user-select: none;}
.footer a {color: inherit;}

.timestamp_toggle {display: inline-block; width: 40px; height: 20px; border: 2px solid var(--black); border-radius: 20px; margin: 0 0.5rem; position: relative; cursor: pointer; vertical-align: middle;}
.timestamp_toggle::before {content: ''; width: 12px; height: 12px; border-radius: 50%; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; background: var(--black); transition: all 0.2s; transform: translateX(3px);}
.on.timestamp_toggle::before {left: 50%;}

@media only screen and (min-width: 400px) {:root {font-size: 12px; margin: 12px; --width: 380px;}}
@media only screen and (min-width: 600px) {:root {font-size: 15px; margin: 15px; --width: 490px;}}
@media only screen and (min-width: 800px) {:root {font-size: 12px; margin: 12px; --width: 380px;} .menu_button {display: none;} .menu_holder {display: flex; margin: 0; top: 2rem; position: sticky; margin-right: 2rem; width: fit-content; height: fit-content; background: none;} .menu {width: calc(var(--width) * 0.8); position: static; border: 4px solid var(--black); border-radius: 20px;} .stuff {flex-direction: row;}}
@media only screen and (min-width: 1000px) {:root {font-size: 15px; margin: 15px; --width: 530px;}}
@media only screen and (min-width: 1200px) {:root {font-size: 17px; margin: 17px; --width: 600px;}}

@media (prefers-color-scheme: dark) {
    body {background: var(--black);}

    .logo {content: url('logo_dark.svg');}

    .menu {background: var(--black); border-color: var(--gray);}
    .menu_category {color: vaR(--yellow);}
    .menu_game {color: var(--white);}
    .menu_game:hover {background: var(--white); color: var(--black);}
    .menu_game_cat {color: var(--white);}
    .menu hr {background: var(--gray);}

    .scoreboard {border: 4px solid var(--gray); box-shadow: 5px 5px 0 var(--gray); background: var(--black);}
    .e {background: var(--black);}
    .e:before {opacity: 0.2;}
    .r {color: var(--yellow);}
    .p, .v, .subv, .t {color: var(--white);}
    .badge_rae {content: url('badge_rae_dark.png');}
    .e:nth-child(1) {background: linear-gradient(90deg, rgb(150, 128, 31) 0%, var(--black) 100%); border-bottom: 4px solid #DDB91E;}
    .e:nth-child(2) {background: linear-gradient(90deg, rgb(112, 126, 130) 0%, var(--black) 100%); border-bottom: 4px solid #97A0A2;}
    .e:nth-child(3) {background: linear-gradient(90deg, rgb(110, 79, 37) 0%, var(--black) 100%); border-bottom: 4px solid #976C32;}

    .footer {color: var(--gray);}
    .timestamp_toggle {border-color: var(--white);}
    .timestamp_toggle::before {background: var(--white);}
}