---
layout: null
---

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML Meta Tags -->
<title>rae.wtf > {{ page.title }}</title>
<meta name="description" content="{{ page.desc }}">
<link rel="icon" type="image/x-icon" href="https://rae.wtf/favicon.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://rae.wtf/">
<meta property="og:type" content="website">
<meta property="og:title" content="rae.wtf > {{ page.title }}">
<meta property="og:description" content="{{ page.desc }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="rae.wtf">
<meta property="twitter:url" content="https://rae.wtf/">
<meta name="twitter:title" content="rae.wtf > {{ page.title }}">
<meta name="twitter:description" content="{{ page.desc }}">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,600;0,800;1,600;1,800&family=Righteous&display=swap" rel="stylesheet">
<link href="../site.css" rel="stylesheet">

<style>
</style>

<style>
	:root {--accent-color: #78c1e1; --accent-color-transparent: #78c1e100; --color-on-accent: #325084;}
</style>

<header>
	<div class="nav">
		<a href="../" class="nav_item">home</a>
		<a href="../games" class="nav_item">games</a>
		<a href="../art" class="nav_item">art</a>
		<a href="../commissions" class="nav_item">commissions</a>
		<a href="../trinkets" class="nav_item">trinkets</a>
		<a href="../blog" class="nav_item active">blog</a>
	</div>
	<a href="../"><img class="logo" src="../logo.png" alt="rae.wtf logo. Alongside the domain name, there's an icon with some moth antennae atop a planet with an orbiting object." /></a>
	<div class="info">
		<div class="up_box"></div>
		<div>
			<h2 class="breadcrumbs"><a href="../">home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="../blog">blog</a></h2>
			<h1 class="title">blog by rae</h1>
		</div>
	</div>
</header>

<div class="content">
	<div class="featured_box">
		<div class="box_content">
			<div style="display: flex; align-items: center; justify-content: space-between;">
			<h1>{{ page.title}}</h1>
			<h3>{{ page.date | date: '%m.%d.%Y' }}</h3>
			</div>
			<p>{{ page.desc }}</p>
		</div>
	</div>

	<div class="blog_content">
		{{ content }}
	</div>
</div>

<footer>
	<div class="footer_content">
		<p>2020&#8211;2026, made by rae</p>
		<div>
			<p>find me on-line:</p>
			<a href="https://bsky.app/profile/rae.wtf" class="social">bluesky</a>
			<a href="https://github.com/raewtf" class="social">github</a>
			<a href="https://play.date/games/studios/wtf.rae" class="social">playdate</a>
			<a href="https://store.steampowered.com/dev/rae" class="social">steam</a>
			<a href="https://raewtf.itch.io" class="social">itch.io</a>
		</div>
	</div>
	<div class="footer_content">
		<p>this site, and the stuff within, doesn't contain the outputs of any generative algorithms.</p>
	</div>
	<div class="footer_content">
		<div>
			<p>support me:</p>
			<a href="../commissions" class="social">commissions</a>
		</div>
		<div>
			<p>everything:</p>
			<a href="../expert" class="social">expert mode</a>
		</div>
		<p>...have a nice day!</p>
	</div>
</footer>